$color-fondo-nav: #302b2b88
$color-texto-nav: #fff
$color-texto-nav-hover: #000
$color-fondo-nav-hover: #035f1f
$color-texto-h2: #489157
$color-texto-seccion-claro: #c0cebf

*
  margin: 0
  padding: 0
// nav
nav
  position: fixed
  background: $color-fondo-nav
  width: 100vw
  height: 5vh
  display: flex
  justify-content: center
  ul
    display: flex
    width: 60%
    flex-direction: row
    flex-wrap: wrap
    justify-content: space-around
    align-content: center

    li
      list-style: none
      a
        text-decoration: none
        display: inline-block
        color: $color-texto-nav
        padding: 15px
      &:hover

        background: $color-fondo-nav-hover
        a
          color: $color-texto-nav-hover

// header
header
  height: 55vw
  background-image: url("../img/sunset.jpg")
  background-repeat: no-repeat
  background-size: 100% 100%
  h1
    position: relative
    top: 7vh
    left: 7vw
  h3
    position: relative
    top: 3vw
    left: 3vw

// seccion
.seccion
  padding: 80px
  h2
    color: $color-texto-h2
//formacion

.img-formacion
  height: 55vw
  background-image: url("../img/aula.jpg")
  background-repeat: no-repeat
  background-size: 100% 100%
  h1
    position: relative
    top: 10vh
    left: 8vw
  h3
    position: relative
    top: 5vw
    left: 12.4vw

// Servicios
.img-servicios
  height: 55vw
  background-image: url("../img/playa.jpg")
  background-repeat: no-repeat
  background-size: 100% 100%
  h1
    position: relative
    top: 40vh
    left: 52vw
  h3
    position: relative
    top: 22vw
    left: 57vw

// Sobre nosotros
.img-nosotros
  height: 55vw
  background-image: url("../img/pez-sierra.jpg")
  background-repeat: no-repeat
  background-size: 100% 100%
  color: $color-texto-seccion-claro
  h1
    position: relative
    top: 12vh
    left: 40vw
  h3
    position: relative
    top: 6.5vw
    left: 42vw
