* {
  margin: 0;
  padding: 0;
}

nav {
  position: fixed;
  background: #302b2b88;
  width: 100vw;
  height: 5vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 60%;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-line-pack: center;
      align-content: center;
}

nav ul li {
  list-style: none;
}

nav ul li a {
  text-decoration: none;
  display: inline-block;
  color: #fff;
  padding: 15px;
}

nav ul li:hover {
  background: #035f1f;
}

nav ul li:hover a {
  color: #000;
}

header {
  height: 55vw;
  background-image: url("../img/sunset.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

header h1 {
  position: relative;
  top: 7vh;
  left: 7vw;
}

header h3 {
  position: relative;
  top: 3vw;
  left: 3vw;
}

.seccion {
  padding: 80px;
}

.seccion h2 {
  color: #489157;
}

.img-formacion {
  height: 55vw;
  background-image: url("../img/aula.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.img-formacion h1 {
  position: relative;
  top: 10vh;
  left: 8vw;
}

.img-formacion h3 {
  position: relative;
  top: 5vw;
  left: 12.4vw;
}

.img-servicios {
  height: 55vw;
  background-image: url("../img/playa.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.img-servicios h1 {
  position: relative;
  top: 40vh;
  left: 52vw;
}

.img-servicios h3 {
  position: relative;
  top: 22vw;
  left: 57vw;
}

.img-nosotros {
  height: 55vw;
  background-image: url("../img/pez-sierra.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  color: #c0cebf;
}

.img-nosotros h1 {
  position: relative;
  top: 12vh;
  left: 40vw;
}

.img-nosotros h3 {
  position: relative;
  top: 6.5vw;
  left: 42vw;
}
