$color-fondo-nav: #000

*
  margin: 0
  padding: 0

nav
  position: fixed
  background: $color-fondo-nav
  width: 100vw
  height: 5vh
  display: flex
  justify-content: center
  ul
    display: flex
    width: 60%
    background: #886688
    flex-direction: row
    flex-wrap: wrap
    justify-content: space-around
    align-content: center
    li
      list-style: none
      a
        text-decoration: none
